<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="Freeze & Feast">
    <meta name="description" content="Freeze & Feast - About Us">
    <title>About Us - Freeze & Feast</title>
    <link rel="shortcut icon" href="../../../../assets/images/favicon.svg">
    <link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../../assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../../../assets/css/user-dropdown.css">
</head>

<body>

    <!-- Header Section -->
    

    <header class="ff-header">
        <div class="container">
            <div class="ff-header-wrapper">
                <!-- Logo -->
                <a href="/freeze-feast" class="ff-logo">
                    <img src="../../../../assets/images/logo.svg" alt="Freeze & Feast">
                </a>

                <!-- Navigation -->
                <nav class="ff-nav d-none d-lg-flex">
                    <a href="/freeze-feast" class="ff-nav-link">Home</a>
                    <a href="/freeze-feast/category" class="ff-nav-link">Category</a>
                    <a href="/freeze-feast/about" class="ff-nav-link ">About</a>
                    <a href="/freeze-feast/contact" class="ff-nav-link">Contact</a>
                </nav>

             <!-- User & Cart -->
             <div class="ff-header-right">
            
             <!-- User Menu (Before Login) -->

    <!-- Show LOGIN button if NOT logged in -->


 <% if (session && session.user) { %>
    <!-- User is logged in → show dropdown -->
<div class="ff-user-dropdown">   <!-- ← parent wrapper -->
    <button class="ff-user-btn">
        <i class="fa-solid fa-user"></i>
    </button>

    <div class="ff-dropdown-menu" id="dropdownMenu">
        <a href="/freeze-feast/profile" class="ff-dropdown-item">Profile</a>
        <a href="/freeze-feast/my-orders" class="ff-dropdown-item">My Orders</a>
        <a href="/freeze-feast/wishlist" class="ff-dropdown-item">My Wishlists</a>
        <a href="/freeze-feast/shipping-address" class="ff-dropdown-item">Shipping Address</a>
        <a href="/freeze-feast/change-password" class="ff-dropdown-item">Change Password</a>
        <div class="ff-dropdown-divider"></div>
        <a href="/freeze-feast/logout" class="ff-logout-btn">Logout</a>
    </div>
</div>

<% } else { %>
    <!-- User is NOT logged in → show login icon only -->
    <a href="/freeze-feast/login">
        <button class="ff-user-btn">
            <i class="fa-regular fa-user"></i>
        </button>
    </a>

<% } %>


    <a href="/freeze-feast/cart">
        <button class="ff-cart-btn">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="ff-cart-count">0</span>
        </button>
    </a>
     <button class="ff-mobile-toggle d-lg-none">
          <i class="fa-solid fa-bars"></i>
     </button>
    </div>
</div>
</div>
    </header>


<script src="../../../../assets//js/user-dropdown.js"></script>