<%- include('./partials/header.ejs')  %>

<%- include('./partials/flash.ejs') %>

    <!-- Shop by Category Section -->
    <section class="ff-categories">
        <div class="container">
            <div class="ff-section-header">
                <h2 class="ff-section-title">Shop by Category</h2>
                <div class="ff-category-controls">
                    <button class="ff-scroll-btn ff-scroll-left" id="categoryScrollLeft">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="ff-scroll-btn ff-scroll-right" id="categoryScrollRight">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="ff-category-scroll-wrapper">
                <div class="ff-category-scroll" id="categoryScroll">
                    <a href="product-list.html" class="ff-category-card active">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/visit1.jpg" alt="All">
                        </div>
                        <span class="ff-category-name">All</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items1.jpg" alt="Breakfast">
                        </div>
                        <span class="ff-category-name">Breakfast</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items2.jpg" alt="Lunch">
                        </div>
                        <span class="ff-category-name">Lunch</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items3.jpg" alt="Dinner">
                        </div>
                        <span class="ff-category-name">Dinner</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items4.jpg" alt="Snacks">
                        </div>
                        <span class="ff-category-name">Snacks</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items5.jpg" alt="Desserts">
                        </div>
                        <span class="ff-category-name">Desserts</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/popular-items6.jpg" alt="Beverages">
                        </div>
                        <span class="ff-category-name">Beverages</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/pp-categori1.png" alt="Kebab">
                        </div>
                        <span class="ff-category-name">Kebab</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/pp-categori2.png" alt="Burger">
                        </div>
                        <span class="ff-category-name">Burger</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/pp-categori3.png" alt="Pizza">
                        </div>
                        <span class="ff-category-name">Pizza</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/pp-categori6.png" alt="Pasta">
                        </div>
                        <span class="ff-category-name">Pasta</span>
                    </a>
                    <a href="product-list.html" class="ff-category-card">
                        <div class="ff-category-img">
                            <img src="../../../../assets/img/home-1/pp-categori7.png" alt="Appetizers">
                        </div>
                        <span class="ff-category-name">Appetizers</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop by Feature Product Section -->
    <section class="ff-categories lightgray">
        <div class="container">
            <div class="ff-section-header">
                <h2 class="ff-section-title">Feature Products</h2>
                <div class="ff-category-controls">
                    <button class="ff-scroll-btn ff-scroll-left" id="featureScrollLeft">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="ff-scroll-btn ff-scroll-right" id="featureScrollRight">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="ff-category-scroll-wrapper">
                <div class="ff-category-scroll" id="featureScroll">
                    <!-- Product 1 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid1.jpg" alt="Turkey Bacon, Egg & Cheese Buttermilk Biscuit">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Turkey Bacon, Egg & Cheese Buttermilk Biscuit </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$8.50</span>
                            <div class="ff-quantity-control" data-in-cart="true">
                                <button class="ff-qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                                <span class="ff-qty-value">1</span>
                                <button class="ff-qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 2 - Has Options -->
                <div class="ff-product-card" data-has-options="true">
                    <div class="ff-product-img">
                        <a href="product-detail.html?options=true">
                            <img src="../../../../assets/img/inner/shop-grid2.jpg" alt="Beef Sausage, Egg & Cheese Muffin">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html?options=true"> Beef Sausage, Egg & Cheese Muffin </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$7.0</span>
                            <a href="product-detail.html?options=true" class="ff-select-option-btn">Select Option</a>
                        </div>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid3.jpg" alt="Cinnamon Roll">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html">Cinnamon Roll</a></h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$3.0</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 4 - Has Options -->
                <div class="ff-product-card" data-has-options="true">
                    <div class="ff-product-img">
                        <a href="product-detail.html?options=true">
                            <img src="../../../../assets/img/inner/shop-grid4.jpg" alt="Freshly Made Greek Yogurt">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html?options=true"> Freshly Made Greek Yogurt </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$5.0</span>
                            <a href="product-detail.html?options=true" class="ff-select-option-btn">Select Option</a>
                        </div>
                    </div>
                </div>

                <!-- Product 5 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid5.jpg" alt="Homemade Individual Cheese & Egg    Quiche">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Homemade Individual Cheese & Egg Quiche </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$8</span>
                            <div class="ff-quantity-control" data-in-cart="true">
                                <button class="ff-qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                                <span class="ff-qty-value">1</span>
                                <button class="ff-qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 6 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid6.jpg" alt="4 Mini Waffles">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> 4 Mini Waffles </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$3.75</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 7 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid10.jpg" alt="Grilled Chicken Platter">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Grilled Chicken Platter </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$12.50</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 8 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid11.jpg" alt="Fresh Garden Salad">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Fresh Garden Salad </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$6.25</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Top Products Section -->
    <section class="ff-products">
        <div class="container">
            <div class="ff-section-header">
                <h2 class="ff-section-title">Top Products <span class="ff-product-count">(92)</span></h2>
                <a href="product-list.html" class="ff-see-all-btn">
                    See All
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="ff-products-grid">
                <!-- Product 1 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid1.jpg" alt="Turkey Bacon, Egg & Cheese Buttermilk Biscuit">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Turkey Bacon, Egg & Cheese Buttermilk Biscuit </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$8.50</span>
                            <div class="ff-quantity-control" data-in-cart="true">
                                <button class="ff-qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                                <span class="ff-qty-value">1</span>
                                <button class="ff-qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 2 - Has Options -->
                <div class="ff-product-card" data-has-options="true">
                    <div class="ff-product-img">
                        <a href="product-detail.html?options=true">
                            <img src="../../../../assets/img/inner/shop-grid2.jpg" alt="Beef Sausage, Egg & Cheese Muffin">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html?options=true"> Beef Sausage, Egg & Cheese Muffin </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$7.0</span>
                            <a href="product-detail.html?options=true" class="ff-select-option-btn">Select Option</a>
                        </div>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid3.jpg" alt="Cinnamon Roll">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html">Cinnamon Roll</a></h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$3.0</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 4 - Has Options -->
                <div class="ff-product-card" data-has-options="true">
                    <div class="ff-product-img">
                        <a href="product-detail.html?options=true">
                            <img src="../../../../assets/img/inner/shop-grid4.jpg" alt="Freshly Made Greek Yogurt">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html?options=true"> Freshly Made Greek Yogurt </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$5.0</span>
                            <a href="product-detail.html?options=true" class="ff-select-option-btn">Select Option</a>
                        </div>
                    </div>
                </div>

                <!-- Product 5 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid5.jpg" alt="Homemade Individual Cheese & Egg    Quiche">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Homemade Individual Cheese & Egg Quiche </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$8</span>
                            <div class="ff-quantity-control" data-in-cart="true">
                                <button class="ff-qty-btn minus"><i class="fa-solid fa-minus"></i></button>
                                <span class="ff-qty-value">1</span>
                                <button class="ff-qty-btn plus"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 6 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid6.jpg" alt="4 Mini Waffles">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> 4 Mini Waffles </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$3.75</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 7 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid10.jpg" alt="Grilled Chicken Platter">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Grilled Chicken Platter </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$12.50</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <!-- Product 8 -->
                <div class="ff-product-card">
                    <div class="ff-product-img">
                        <a href="product-detail.html">
                            <img src="../../../../assets/img/inner/shop-grid11.jpg" alt="Fresh Garden Salad">
                        </a>
                    </div>
                    <div class="ff-product-info">
                        <h3 class="ff-product-name"> <a href="product-detail.html"> Fresh Garden Salad </a> </h3>
                        <div class="ff-product-footer">
                            <span class="ff-product-price">$6.25</span>
                            <button class="ff-add-cart-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<%- include('./partials/footer.ejs')  %>